<h3><b>GALLERY</b></h3>
<table>
    <tr>
        <td>
            <img src="assets/images/image.jpeg" class="img1" alt="no image">
        </td>
        <td>
            <img src="assets/images/img4.jpeg" class="img2" alt="no image">
        </td>
    </tr>
    
    <tr>
        <td>
            <img src="assets/images/img2.jpeg" class="img2" alt="no image">
        </td>
        <td>
            <img src="assets/images/img3.jpeg" class="img2" alt="no image">
        </td>
    </tr>
    
    
</table>
