
<div>
    <ul>
      
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      <li><a routerLink="/gallery" routerLinkActive="active">Gallery</a></li>
      <li><a routerLink="/interpolation" routerLinkActive="active">interpolation</a></li>
      <li><a routerLink="/Ngfor" routerLinkActive="active">ngfor</a></li>
      <li><a routerLink="/ngif" routerLinkActive="active">ngif</a></li>
      <li><a routerLink="/pipes" routerLinkActive="active">pipes</a></li>
      <li><a routerLink="/registrationdetails" routerLinkActive="active">registation details</a></li>
      <li><a routerLink="/login" routerLinkActive="active">login</a></li>
      <li><a routerLink="/parent" routerLinkActive="active">parent</a></li>
      <li><a routerLink="/customer" routerLinkActive="active">customer</a></li>
      <li><a routerLink="/service" routerLinkActive="active">service</a></li>
      </ul>
    </div>